* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 24px;
  color: black;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}
nav a {
  text-transform: uppercase;
}
nav a:hover {
  color: #fb565a;
}
nav a:active {
  color: #a6a6a6;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: #eeeeee;
  line-height: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-upper-container {
  width: 1440px;
  padding: 49px 140px 0px 140px;
  display: flex;
  font-weight: 500;
}
.logo:hover {
  fill: #303030;
}
.logo:active {
  fill: #a6a6a6;
}
.header-upper-container ul {
  margin-top: 1px;
  margin-left: 160px;
  display: flex;
}
.header-upper-container li:nth-child(1) {
  margin-left: 42px;
}
.header-upper-container li:nth-child(2) {
  margin-left: 45px;
}
.header-upper-container li:nth-child(3) {
  margin-left: 48px;
}
.header-upper-container li:nth-child(4) {
  margin-left: 46px;
}
nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.basket {
  display: flex;
  align-items: center;
  margin-left: 244px;
}
.basket svg {
  margin-bottom: 1px;
}
.basket a {
  margin-left: 25px;
}
.header-lower-container {
  width: 1440px;
  display: flex;
  height: 431px;
}
.header-lower-container input {
  display: none;
}
.controls {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 891px;
  top: 431px;
}
.radiobutton {
  margin-left: 17px;
  appearance: none;
  position: relative;
  height: 18px;
  width: 18px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}
#slide1:checked ~ .controls .radiobutton:nth-of-type(1)::after,
#slide2:checked ~ .controls .radiobutton:nth-of-type(2)::after,
#slide3:checked ~ .controls .radiobutton:nth-of-type(3)::after {
  content: "";
  border: 2px solid #c1c1c1;
  height: 4px;
  width: 4px;
  top: 5px;
  left: 5px;
  display: block;
  position: relative;
  border-radius: 50%;
}
.slides {
  display: flex;
  position: absolute;
  opacity: 0;
  z-index: 0;
}
.slides article {
  margin-left: 140px;
  margin-top: 78px;
}
.slogan {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
}
.slogan-explanation {
  font-weight: 400;
  margin-top: 26px;
  margin-left: 1px;
  line-height: 24px;
}
.slides a {
  opacity: 1;
  margin-top: 40px;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background: #fb565a;
  color: white;
}
.slides a:hover {
  background: #e74246;
}
.slides a:active {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  background: #d7373b;
  color: #e37376;
}
.slide1 img {
  margin-top: 18px;
  margin-left: 54px;
}
.slide2 img {
  margin-left: 636px;
  position: absolute;
  margin-top: 1px;
}
.slide3 img {
  margin-left: 541px;
  position: absolute;
  margin-top: 19px;
}
#slide1:checked ~ .slider .slide1,
#slide2:checked ~ .slider .slide2,
#slide3:checked ~ .slider .slide3 {
  z-index: 1;
  opacity: 1;
}
main {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}
.products {
  margin-top: 80px;
  display: flex;
  border-bottom: 2px solid #eeeeee;
}
.products li {
  margin-right: 100px;
}
.products h3 {
  margin-top: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.products a {
  margin-top: 32px;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.products a:active {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.products p {
  margin-top: 16px;
}
.red-a {
  background: #fb565a;
}
.green-a {
  background: #00ca74;
}
.yellow-a {
  background: #efc84a;
}
.red-a:hover {
  background: #e74246;
}
.green-a:hover {
  background: #00bc6c;
}
.yellow-a:hover {
  background: #eab534;
}
.red-a:active {
  background: #d7373b;
}
.green-a:active {
  background: #00aa62;
}
.yellow-a:active {
  background: #e5a722;
}
.about-container {
  display: flex;
}
.about {
  margin-top: 74px;
}
.about p:nth-child(2) {
  font-weight: 500;
  line-height: 45px;
  font-size: 45px;
}
.about p:nth-child(3) {
  margin-top: 32px;
}
.about p:nth-child(4) {
  font-weight: 700;
  margin-top: 40px;
  text-transform: uppercase;
}
.about ul {
  margin-top: 24px;
  margin-left: 12px;
  line-height: 24px;
}
.about li {
  display: flex;
}
.about li:nth-child(1) {
  margin-bottom: 24px;
}
.about li:nth-child(2) {
  margin-bottom: 24px;
}
.about li::before {
  content: " ";
  border-left: 4px solid #fb565a;
  transform: rotate(90deg) scale(0.5, 1);

  margin-right: 21px;
}
.achivments {
  margin-top: 40px;
  margin-left: 800px;
  position: absolute;
}
.achivments > p {
  margin-top: 29px;
  margin-left: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.achivments ol {
  margin-top: 5px;
  display: flex;
}
.achivments div {
  display: flex;
}
.percent-value {
  margin-top: 53px;

  font-weight: 700;
  font-size: 45px;
  line-height: 10.06px;
}
.percent {
  margin-top: 44px;
  margin-right: 21px;
  font-weight: 600;
  font-size: 28px;
  line-height: 10.06px;
}
.percent-value-explanation {
  margin-top: 38px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 18px;
}
.work-examples {
  margin-top: 73px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  height: 184px;
}
.work-examples ul {
  display: flex;
}
.work-examples img {
  opacity: 0.3;
}
.work-examples img:hover {
  opacity: 1;
}
.work-examples img:active {
  opacity: 0.1;
}
/* .hmtl-academy {
  content: url(./img/logo-1.png.png);
}
.hmtl-academy:hover {
  content: url(./img/logo-1.png\ copy.png);
}
.hmtl-academy:active {
  content: url(./img/logo-1.png\ copy\ 2.png);
} */
/* .barbershop-borodinski {
  content: url(./img/logo-2.png.jpg);
}
.barbershop-borodinski:hover {
  content: url(./img/logo-2.png\ copy.jpg);
}
.barbershop-borodinski:active {
  content: url(./img/logo-2.png\ copy\ 2.jpg);
}
.pink {
  content: url(./img/logo-3.png.png);
}
.pink:hover {
  content: url(./img/logo-3.png\ copy.png);
}
.pink:active {
  content: url(./img/logo-3.png\ copy\ 2.png);
}
.mishka {
  content: url(./img/logo-4.png.png);
}
.mishka:hover {
  content: url(./img/logo-4.png\ copy.png);
}
.mishka:active {
  content: url(./img/logo-4.png\ copy\ 2.png);
} */
.work-examples li:nth-child(1) {
  margin-left: 31px;
  margin-top: 62px;
}
.work-examples li:nth-child(2) {
  margin-left: 94px;
  margin-top: 46px;
}
.work-examples li:nth-child(2)::before {
  position: relative;
  content: " ";
  border-left: 2px solid #eeeeee;
  padding-bottom: 33px;
  right: 45px;
  bottom: 54px;
}
.work-examples li:nth-child(3) {
  margin-left: 101px;
  margin-top: 65px;
}
.work-examples li:nth-child(3)::before {
  position: relative;
  content: " ";
  border-left: 2px solid #eeeeee;
  padding-bottom: 33px;
  right: 57px;
  bottom: 38px;
}
.work-examples li:nth-child(4) {
  margin-left: 119px;
  margin-top: 52px;
}
.work-examples li:nth-child(4)::before {
  position: relative;
  content: " ";
  border-left: 2px solid #eeeeee;
  padding-bottom: 33px;
  right: 63px;
  bottom: 57px;
}
footer {
  padding-top: 80px;
  margin: 0 auto;
}
.map-container {
  position: relative;
}
.address-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0px 140px;
  width: 1440px;
  left: 0;
  right: 0;
  top: 54px;
  margin: auto;
}
.address-section {
  pointer-events: all;
  padding-top: 49px;
  padding-left: 50px;
  background-color: white;
  width: 319px;
  height: 308px;
}
.nerds-naming {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.address {
  line-height: 18px;
  margin-top: 23px;
  margin-left: 2px;
  color: #666666;
}
.contacts {
  margin-top: 18px;
  margin-left: 2px;
  line-height: 18px;
  color: #666666;
}
.address-section a {
  margin-top: 37px;
  width: 219px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background: #fb565a;
  color: white;
}
.address-container img {
  pointer-events: all;
  user-select: none;
  margin-top: 35px;
  margin-left: 361px;
}
.lower-footer {
  padding: 62px 140px 70px 140px;
  margin: 0 auto;
  width: 1440px;
  display: flex;
}
.lower-footer ul {
  display: flex;
}
.lower-footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
  width: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 12px;
}
.lower-footer li:hover {
  background-color: #e74246;
}
.lower-footer li:active {
  background-color: #d7373b;
}
.lower-footer li:active path {
  fill: #e37376;
}
.discount {
  user-select: none;
  margin-top: 7px;
  margin-left: 127px;
}
.discount p:nth-child(1) {
  line-height: 36px;
  font-size: 36px;
  font-weight: bold;
}
.discount p:nth-child(2) {
  margin-top: 8px;
}
